.module-list-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  padding-block: 1rem;
}

.module-item-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  gap: 1rem;
}

.module-list-item.list-group-item {
  padding: 0;
  border: 0;

  background-color: rgba(255, 255, 255, 0);
}

.module-button-item.list-group-item {
  display: flex;
  align-items: center;

  justify-content: space-between;

  width: 100%;
  padding-inline: 1.5rem;
  padding-block: 1rem;
}

.module-button-item.list-group-item:hover {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.module-button-container {
  display: flex;

  width: 100%;
}

.progress-arrow-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 1rem;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: var(--blue-100);
  color: var(--main-blue);

  flex: 0 0 auto;
  width: 2.5rem;
  aspect-ratio: 1/1;
}

.icon-wrapper.check {
  color: var(--green-600);
  background-color: var(--green-100);
}

@media screen and (max-width: 768px) {
  p.module-description {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .module-item-container {
    gap: 0.5rem;
  }

  .module-button-item.list-group-item {
    padding: 0.5rem;
  }

  .date-container .hidden {
    display: none;
  }

  .progress-arrow-container {
    gap: 0.25rem;
  }
}
