.user-list-container {
  overflow-x: auto;
  width: 100%;

  border-radius: var(--standard-radius);
  background-color: var(--background-gray);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.user-list-group.list-group {
  background-color: white;
}

.list-group-item.user-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  background-color: white;

  padding: 0;
}

.list-group-item.user-item:hover {
  background-color: var(--background-gray);
}

p.user-data {
  margin: 0;

  padding-block: 0.75rem;
  padding-inline: 1.5rem;
}

