#login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding-block: 2rem;
  min-height: 100vh;

  font-family: sans-serif;

  background-color: var(--main-gray);
}

@media screen and (max-width: 480px) {
  #login-page.g-container {
    padding-inline: 0;
  }
}
