#login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding-block: 2rem;
  height: 100vh;

  font-family: sans-serif;

  background-color: var(--main-gray);
}
.role-container {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;
  padding-block: 1rem;
}

.role-input-container {
  display: flex;

  gap: 1rem;
}

.teacher-role-label,
.student-role-label {
  display: flex;

  gap: 0.5rem;
}

