#login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding-block: 2rem;
  height: 100vh;

  font-family: sans-serif;

  background-color: var(--main-gray);

  /* Custom colors as variable, should be moved to global :root later*/
  --main-blue: rgb(21, 93, 251);
  --main-gray: rgb(243, 244, 246);
  --gray-300: rgb(209, 213, 219);
  --blue-500: rgb(43, 127, 255);
}

#login-page .login-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  width: 450px;
  height: 550px;

  background-color: white;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 0.5rem;

  padding-block: 2rem;
  padding-inline: 1.5rem;
}

#login-page .login-form fieldset {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  gap: 0.5rem;
  width: 100%;
}

input#email,
input#password {
  width: 100%;

  border: 1px solid var(--gray-300);
  border-radius: 0.375rem;

  padding-block: 0.5rem;
  padding-inline: 0.75rem;
}

input#email:focus,
input#password:focus {
  box-shadow: 0 0 4px var(--blue-500);
  outline: var(--blue-500);
}

.login-form-h1 {
  font-size: 24px;
  font-weight: bold;
}

.login-btn.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;

  gap: 0.5rem;
  width: 100%;
}

.book-icon {
  font-size: 52px;

  color: var(--main-blue);
}

.email-label,
.password-label,
.role-label {
  font-size: 14px;
  font-weight: bold;
}

.role-container {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;
  padding-block: 1rem;
}

.role-input-container {
  display: flex;

  gap: 1rem;
}

.teacher-role-label,
.student-role-label {
  display: flex;

  gap: 0.5rem;
}

.forgot-password-link {
  font-size: 14px;
  text-decoration: none;
}
