.role-container {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;
  padding-block: 1rem;
}

.role-input-container {
  display: flex;

  gap: 1rem;
}

.teacher-role-label,
.student-role-label {
  display: flex;

  gap: 0.5rem;
}
