.g-container {
  padding-inline: 4rem;
}

.main-wrapper {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  width: 100%;
  min-height: calc(100vh - var(--header-height));
  max-height: calc(100vh - var(--header-height));
  overflow-y: scroll;
}

/* text */
.bold {
  font-weight: bold;
}

.text-gray {
  color: var(--text-gray);
}

.master-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
