:root {
  /* Colors */
  --main-blue: rgb(21, 93, 251);
  --main-gray: rgb(243, 244, 246);
  --gray-300: rgb(209, 213, 219);
  --blue-500: rgb(43, 127, 255);
  --blue-600:  rgb(37, 99, 235);
  --blue-800: rgb(30, 64, 175);
  --background-gray: rgb(249 250 251);
  --blue-100: rgb(219 234 254);
  --blue-50 :rgb(239 246 255);

  --blue-100: rgb(219, 234, 254);
  --blue-800: rgb(25, 60, 184);

  --gray-200: rgb(229, 231, 235);
  --green-600: rgb(22 163 74);
  --green-100: rgb(220, 252, 231);
  --red-600: rgb(220 38 38);
  --gray-100: rgb(222, 226, 230);
  --text-gray: rgb(107 114 128);


  /* Fonts */
  --main-font: sans-serif;

  /* Border-Radius */
  --large-radius: 1rem;
  --standard-radius: 0.5rem;
  --medium-radius: 0.375rem;
  --small-radius: 0.25rem;


  /* Border*/
  --border-blue:rgb(219, 234, 254, 1);

    /* sizes */
    --smallest-paragraph: 0.9rem;

    /* misc */
    --border: 1px solid rgba(107, 114, 128, 0.2);

}
